<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_final_gestor_de_tareas_del_hogar"
        tools:targetApi="31">

        <activity
            android:name=".ConfigurarHogarActivity"
            android:exported="false" />
        <activity
            android:name=".TareasActivity"
            android:exported="false"
            android:label="@string/title_activity_tareas" />
        <activity
            android:name=".UnirseActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".HogaresExistentesActivity"
            android:exported="false" />

        <activity
            android:name=".DetalleTareaActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrarseActivity"
            android:exported="false" />

        <activity
            android:name=".CrearHogarActivity"
            android:exported="false" />

        <activity
            android:name=".HogarActivity"
            android:exported="false" />

    </application>

</manifest>
